@import '../../styles';
.dashboardContainer{
  max-width: 1368px;
  margin: auto;

  .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
    .etherImg{
      width: 48%;
      height: fit-content;
      border-radius: 5px;

      &:hover{
        transition: 1s;
        transform: scale(1.02);
      }
    }
  }

  .transactionForm{
    width: 48%;
    .submit{
      width: 100%;
    }
    .content {
      padding: 50px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
  }

  @include lessThan(md){
    .details{
      flex-direction: column;
      .etherImg{
        width: 100%;
      }
    }
    .transactionForm{
      width: 100%;
      .submit{
        width: 100%;
      }
    }
  }
}